@charset "UTF-8";

@font-face {
  font-family: 'Hifont';
  src: url('./assets/fonts/HiFont.eot');
  src: url('./assets/fonts/HiFont.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/HiFont.woff') format('woff'),
  url('./assets/fonts/HiFont.ttf') format('truetype'),
  url('./assets/fonts/HiFont.svg#NeuesBauenDemo') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'iconfont';  /* project id 424771 */
  src: url('//at.alicdn.com/t/font_424771_cgl6bg5x2luqsemi.eot');
  src: url('//at.alicdn.com/t/font_424771_cgl6bg5x2luqsemi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_424771_cgl6bg5x2luqsemi.woff') format('woff'),
  url('//at.alicdn.com/t/font_424771_cgl6bg5x2luqsemi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_424771_cgl6bg5x2luqsemi.svg#iconfont') format('svg');
}

/*css 初始化 */
*{
  box-sizing: border-box;
}

html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
  margin: 0;
  padding: 0;
}

body {
  font: 16px/150% Arial, Verdana, "\5b8b\4f53";	/*宋体，Unicode，统一码*/
  color: #666;
  background: #fff;
}

fieldset, img, input, button { 			/*fieldset组合表单中的相关元素*/
  border: none;
  padding: 0;
  margin: 0;
  outline-style: none;
}

ul, ol {
  list-style: none;				/*清除列表风格*/
}

input, button {
  border: none;
  padding: 0;
  margin: 0;
  outline-style: none;
}

button:focus {
  outline: none;
}

select, input {
  vertical-align: middle;
}

select, input, textarea {
  font-size: 12px;
  margin: 0;
}

textarea {
  resize: none;
}

/*防止多行文本框拖动*/
img {
  border: 0;
  vertical-align: middle;
}

/*  去掉图片低测默认的3像素空白缝隙*/
table {
  border-collapse: collapse;			/*合并外边线*/
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1; /*IE/7/6*/
}

a {
  color: #666;
  text-decoration: none
}

a:active{
  color: #666;
}

h1, h2, h3, h4, h5, h6 {
  text-decoration: none;
  font-weight: normal;
  font-size: 100%;
}

s, i, em, u {
  font-style: normal;
  text-decoration: none;
}

/*公共类*/

.show {
  opacity: 1!important;
}
.unshow{
  opacity: 0!important;
}
.hide{
  display: none!important;
}